* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: normal 10px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #fafafa;
  color: #1c1c1c;
}

.main-header {
  width: 100%;
  background-color: white;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1525px;
  height: 85px;
  padding: 24px 0 19px;
  margin: auto;
  z-index: 10;
  background-color: white;
}

menu {
  font-size: 2rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1116px;
  height: 42px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 18px;
}

.logo p {
  font-size: 20px;
  margin: 0 17px 0 30px;
  opacity: 0.3;
}

.search {
  display: flex;
}

.fa-magnifying-glass {
  font-size: 1.5rem;
  opacity: 0.7;
  margin: 8px 10px 0 0px;
}

.searchbox input {
  width: 250px;
  height: 30px;
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
  caret-color: white;
  font-size: 1.5rem;
}

input::placeholder {
  color: white;
  opacity: 0.7;
  font-size: 1.5rem;
  padding-left: 5px;
}

.next-article {
  display: flex;
  align-items: center;
  font-size: 12.6px;
}

.next-article .first {
  opacity: 0.7;
}

.next-article b {
  margin: 0 10px 0 5px;
}

.next-article .box {
  padding: 8px 18px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.fa-circle {
  font-size: 5px;
}

.social-media i {
  font-size: 13px;
  opacity: 0.4;
  margin-left: 11px;
}

.fa-brands {
  cursor: pointer;
}

.article-container {
  font-size: 1.26rem;
  margin: 0 auto;
  padding-top: 8.7em;
  padding-bottom: 2.6em;
  width: calc(100% - 90px);
  max-width: 1525px;
  border: 1px solid black;
}

.major {
  max-width: 1186px;
  margin: auto;
}

.top-title {
  /* padding: 0 35px; */
  border: 1px solid pink;
 
}

.top-title p {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.26rem;
  line-height: 2.2rem;
  color: #6d7378;
  margin: 0 0 1.5rem 0;
}

a {
  color: #0078f6;
    text-decoration: none;
    cursor: pointer;
}

.top-title .date a {
  margin-right: 10px;
}

.top-title .predot::before {
  content: "•";
  font-size: 1.5rem;
  vertical-align: middle;
  color: #6d7378;
  margin: 0 10px 0 10px;
}

h1 {
  font-size: 3.24rem;
  line-height: 4.4rem;
  letter-spacing: 0.03rem;
  margin-bottom: 6.6rem;
  max-width: 1000px;
  color: black;
}

.top-title img {
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;

}

.left-aside {
  border: 1px solid red;
  flex:1;
}

.main {
  border: 1px solid blue;
  flex:2;
}

.right-aside {
  border: 1px solid yellow;
  flex: 1;
}

.profile {
  display: flex;
  gap: 10px;
}

.profile img {
  width: 4rem;
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
}

.profile span {
  font-size: 1.26rem;
  font-weight: 600;
  color: #888888;
}

.profile span a {
  color: black;
  padding-top: 3px;
  line-height: 1.7rem;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
}