* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: normal 10px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #fafafa;
  color: #1c1c1c;
}

body {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  letter-spacing: 0.015rem;
  color: #ffffff;
  background-color: #fafafa;
}

.intro {
  width: 100%;
  height: 60vh;
  background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/1c8032975647515c919c1e4b30138726.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.intro::after {
  content: "";
  inset: 0;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.5), black);
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1525px;
  height: 85px;
  padding: 24px 0 19px;
  margin: auto;
  z-index: 10;
}

menu {
  color: #fff;
  font-size: 2rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1116px;
  height: 42px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 18px;
}

.logo p {
  font-size: 20px;
  margin: 0 17px 0 30px;
  opacity: 0.3;
}

.search {
  display: flex;
}

.fa-magnifying-glass {
  font-size: 1.5rem;
  opacity: 0.7;
  margin: 8px 10px 0 0px;
}

.searchbox input {
  width: 250px;
  height: 30px;
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
  caret-color: white;
  font-size: 1.5rem;
}

input::placeholder {
  color: white;
  opacity: 0.7;
  font-size: 1.5rem;
  padding-left: 5px;
}

.next-article {
  display: flex;
  align-items: center;
  font-size: 12.6px;
}

.next-article .first {
  opacity: 0.7;
}

.next-article b {
  margin: 0 10px 0 5px;
}

.next-article .box {
  padding: 8px 18px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.fa-circle {
  font-size: 5px;
}

.social-media i {
  font-size: 13px;
  opacity: 0.4;
  margin-left: 11px;
}

.fa-brands {
  cursor: pointer;
}

.fa-square-facebook:hover {
  color: #4810ff;
}

.fa-instagram:hover {
  background: #f3fc00;
  background: linear-gradient(
    to top right,
    #f0f81f 30%,
    #fd4639 50%,
    #c828e0 50%,
    #f807e0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-twitter:hover {
  color: #00a0f6;
}

.fa-linkedin-in:hover {
  color: #0078f6;
}

.highlight {
  width: 65%;
  margin: auto;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.image-box {
  width: 35%;
  height: auto;
  border-radius: 20px;
  margin-left: -90px;
  overflow: hidden;
}

.img-pic {
  width: 100%;
  height: 100%;
  background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/a53bcb8f28f3142b6cb1c051f645c2d7.jpg");
  background-position: center;
  background-size: 150%;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.img-pic:hover {
  /* scale: 1.1; */
  background-size: 180%;
}

.highlight .headline {
  padding: 4.5em 0 3em 6.1em;
  /* padding-left: 6.1em;
  padding-top: 4.5em; */
}

.headline h6 {
  color: #0078f6;
  font-size: 14.4px;
  margin: 0 11px 15px 0;
}

.highlight .headline .transparented {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.highlight .headline h1 {
  font-size: 36px;
  line-height: 50px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.profile {
  display: flex;
  gap: 10px;
}

.highlight .headline .profile {
  margin-top: 54px;
}

.profile img {
  width: 40px;
  border-radius: 50%;
}

.profile ul {
  list-style: none;
}

.profile ul li {
  font-weight: 600;
}

.profile ul li a {
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
  font-weight: 700;
}

.recommended-articles {
  width: 100%;
  height: 250px;
  background-color: black;
}

.editors-choice {
  width: 60%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  z-index: 10;
  margin: auto;
  left: 23%;
}

.editors-choice p {
  font-size: 1.62rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin-bottom: 2.8rem;
}

.editors-choice button {
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 12px;
  height: 27px;
  width: 50px;
  word-spacing: 8px;
  color: white;
  font-size: 20px;
  opacity: 0.7;
}

.slider {
  position: relative;
  width: calc(100% - 50px);
  max-width: 1624px;
  margin: auto;
  margin-top: -248px;
}

.slider-container {
  padding-top: 2rem;
  padding-bottom: 97px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  gap: 25px;
}

.slider-container .element {
  min-height: 424.461px;
  /* max-width: 315.398px; */
  width: 20%;
  background-position: center;
  background-size: cover;
  border-radius: 0.9rem;
  font-size: 1.26rem;
  padding: 10px 10px 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  background-blend-mode: darken;
}

.slider-container .element:hover {
  scale: 1.1;
  transition-duration: 0.5s;
}

.slider-container .khangal {
  background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/9a316b70d85cf3d44242613d6a15c809_square.jpg");
  background-color: rgba(0, 0, 0, 0.2);
}

.palestin {
  background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/15b480dde130301ccfcb83cc83796577_square.png");
  background-color: rgba(0, 0, 0, 0.2);
}

.cab {
  background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/6c7379f6a279651cc886c07f98086bbc_square.jpg");
  background-color: rgba(0, 0, 0, 0.2);
}

.mext {
  background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/03967d2f0f1b319e42ac4c8c2de6b0b3_square.png");
  background-color: rgba(0, 0, 0, 0.2);
}

.nomadic-master {
  background-image: url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/f214ecbbae9edfd49dbab990e70348c6_square.png");
  background-color: rgba(0, 0, 0, 0.2);
}

.lead {
  display: flex;
  justify-content: space-between;
}

.lead,
.title {
  z-index: 10;
}

.dot::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  background-color: #0078f6;
  height: 6px;
  border-radius: 10px;
  width: 6px;
  margin-top: 0;
}

.view-number {
  display: flex;
  gap: 20px;
}

.view img {
  width: 21px;
}

.comment img {
  width: 15px;
}

.title h5 {
  color: #fff;
  font-size: 1.62rem;
  max-width: 227px;
  font-weight: 700;
  margin-top: 1.4rem;
  line-height: 2rem;
}

.category {
  display: inline-block;
  padding: 1px 11px 0px 11px;
  background-color: #0078f6;
  color: #fff;
  border-radius: 20px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 2.2rem;
  margin-top: 10px;
}

main,
.footer-container {
  width: 50%;
  margin: auto;
}

.this-week {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 44px;
}

article {
  /* font-size: 10px; */
  max-width: 739px;
  max-height: 236px;
}

.article-2 {
  align-self: flex-end;
}

article .profile span {
  font-size: 1.26rem;
  font-weight: 600;
  color: #888888;
}

article .profile span a {
  text-decoration: none;
  color: black;
  padding-top: 3px;
  line-height: 1.7rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

.box-container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0 2.7rem 2.7rem 2.7rem;
  margin-top: 1.3em;
  padding: 2.8em 6.5em 2em 5.1em;
  transition: all 0.2s ease-in-out;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 0.3);
}

.box-container:hover {
  box-shadow: 0px 0px 50px 4px rgb(175, 175, 175, 0.8);
}

article:hover,
.grid-box:hover {
  translate: 0 -10px 0;
  transition-duration: 0.5s;
}

.right-side {
  border-radius: 2.7rem 0 2.7rem 2.7rem;
}

.box-container .headline {
  width: 75%;
}

.headline h6 {
  line-height: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
}

.box-container .headline h6::before {
  content: "•";
  font-size: 2.4rem;
  vertical-align: middle;
  color: #0078f6;
  margin: 0 10px 0 -22px;
}

.headline h3 {
  font-size: 2.16rem;
  line-height: 2.6rem;
  color: #1c1c1c;
  margin-bottom: 40px;
}

.article8 h3 {
  margin-bottom: 10px;
}

.box-container .photo {
  width: 135px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.photo1 {
  background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/ad5baf21a8008661da97fc693c6c63b5_square.jpg");
}

.photo2 {
  background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/4b500d1101336e8a3f6be8fb4521c6c7_square.jpg");
}

.photo3 {
  background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/e66ae558c0eb8f8f2f7867bf6f901f5f_square.jpg");
}

.photo4 {
  background-image: url("https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/15a4d73f3036b08a1028138defbaf63e_square.jpg");
}

.photo5 {
  background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/7ba08d03a39abeabd3902962307095d8_square.jpg");
}

.photo6 {
  background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/1c8032975647515c919c1e4b30138726_square.jpg");
}

.photo7 {
  background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/fe91eec4ed43baecc4874fb634eea919_square.jpg");
}

.photo8 {
  background-image: url("https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/0f9eacff441cfc4602498a98f5946f9f_square.jpg");
}

.photo9 {
  background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/a4da91f7dc3eb5a815cfdf5f8b705e99_square.jpg");
}

.photo10 {
  background-image: url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/454271730c76c2f173dbddc1d427921c_square.jpg");
}

.photo11 {
  background-image: url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/2f5bf8fb8f5afc9b5500ef1ce74722d5_square.jpg");
}

.article-2 {
  display: flex;
  flex-direction: column;
}

.article-2 .profile {
  display: flex;
  flex-direction: row-reverse;
  align-self: self-end;
}

.article-2 .profile span {
  text-align: right;
}

.previous-week {
  margin: 3.5rem 0;
  width: 100%;
}

.prevweek {
  width: 100%;
  margin-bottom: 3.7rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.date {
  text-align: center;
  border-bottom: 2px solid transparent;
  color: #888888;
  font-size: 1.35rem;
  width: 20%;
  padding: 2rem 12px;
}

.date-1 {
  padding: 2rem 12px 2rem 0;
  text-align: left;
  margin-left: -10px;
  border-bottom: 2px solid #0078f6;
  color: #0078f6;
}

.date-2 {
  margin-right: 10px;
}

.date-3 {
  margin-left: 10px;
}

.date-4 {
  padding: 2rem 0 2rem 12px;
  text-align: right;
}

.date:hover {
  border-bottom: 2px solid #0078f6;
  color: #0078f6;
}

.grid-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4);
  grid-template-rows: repeat(8);
  /* grid-template-rows: repeat(10, 25%); */
  gap: 15px;
  margin-top: 5.6rem;
}

.grid-box {
  border-radius: 1.8rem;
  background-position: center;
  background-size: cover;
  position: relative;
}

.item1 {
  grid-column: 1/3;
  grid-row: 1/5;
  background-image: url("https://unread.today/files/44/fb22ab394a1b1ed66b2cf9839bdf4f2a_square.jpg");
  height: 360px;
}

.box2 {
  grid-row: 1/4;
  height: 280px;
}

.box4 {
  grid-row: 5/8;
}

.box6 {
  grid-row: 4/8;
  height: 320px;
}

.item2 {
  background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/15b480dde130301ccfcb83cc83796577_square.png");
}

.item3 {
  background-image: url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/f214ecbbae9edfd49dbab990e70348c6_square.png");
}

.item4 {
  background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/78832a07283174d05b2b836379c87c1f_square.png");
  height: 240px;
}

.item5 {
  background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/ce50547f57ca26f5e8bacba081e90f69_square.jpg");
}

.item6 {
  background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/06c81a70abc3c6e36ebe81f34829ed10_square.jpg");
}

.item7 {
  background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/c29553e2c13aca48bfdb0698ddf6dba8_square.jpg");
}

.blur-box {
  position: absolute;
  bottom: 0;
  border-radius: 0 0 1.8rem 1.8rem;
  height: 105px;
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  padding: 16px 23px 10px 23px;
}

.article-category {
  font-weight: 400;
  opacity: 0.6;
  letter-spacing: 0.03rem;
  font-size: 1.26rem;
  line-height: 2.2rem;
}

.grid-box .blur-box h4 {
  font-weight: 700;
  font-size: 1.62rem;
  line-height: 2rem;
  margin: 0;
  margin-top: 3px;
  height: 4rem;
  overflow: hidden;
  padding-right: 10px;
}

.item1 .blur-box h4 {
  padding-right: 130px;
}

.minut {
  position: absolute;
  top: -10px;
  right: 17px;
  border: none;
  background-color: #717d99;
  text-align: center;
  border-radius: 7px;
  z-index: 2;
  color: #fff;
  font-weight: 500;
  font-size: 1.26rem;
  padding: 4px 11px;
}

.item2 .minut {
  background-color: #5e3226;
}

.item3 .minut {
  background-color: #5b326a;
}

.item4 .minut {
  background-color: #4dc9b5;
}

.item5 .minut {
  background-color: #3c4144;
}

.item6 .minut {
  background-color: #9e9e9e;
}

.item7 .minut {
  background-color: #463ca2;
}

.first-grid {
  background-image: url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/b18ed96a70e674679fe66b153eea1c20_square.jpg");
}

.item1 .one {
  background-color: #9a6d46;
}

.second-grid {
  background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/6c7379f6a279651cc886c07f98086bbc_square.jpg");
}

.item2 .two {
  background-color: #9cb784;
}

.third-grid {
  background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/9a316b70d85cf3d44242613d6a15c809_square.jpg");
}

.item3 .three {
  background-color: #3a3b3e;
}

.fourth-grid {
  background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/ff5edb50fcafbe86e1c946d1e571146f_square.jpg");
}

.item4 .four {
  background-color: #856aec;
}

.fifth-grid {
  background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/03967d2f0f1b319e42ac4c8c2de6b0b3_square.png");
}

.item5 .five {
  background-color: #508f9a;
}

.sixth-grid {
  background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/6dc13475528502b25e38397feb99c727_square.png");
}

.item6 .six {
  background-color: #847c84;
}

.seventh-grid {
  background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/1a0295d5774bb8639bad7c49f7be4818_square.png");
}

.item7 .seven {
  background-color: #86493f;
}

.last-grid {
  background-image: url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/717a69d9638a949281afd03b960ab52f_square.jpg");
}

.robot {
  background-color: #482c8f;
}

.end-grid {
  background-image: url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/0dc4bcae6983f8f36183119ba5b2b9ff_square.jpg");
}

.end-grid .virtual {
  background-color: #767184;
}

.hidden-grid {
  background-image: none;
}

.footer-top {
  z-index: 1;
  height: 8.2rem;
  position: relative;
  background-color: #fafafa;
  border-radius: 0 0 3.6rem 3.6rem;
}

footer {
  color: #fff;
  background-color: #000;
  margin-top: -5.5rem;
  padding: 13rem 0 7.5rem 0;
}

.footer-container {
  border: 1px solid white;
}

.large-container {
  display: flex;
  justify-content: space-between;
}

.logo-container a img {
  height: 18px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  margin: 4.9rem 0 3rem 0;
}

.buttons button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  text-align: left;
  font-weight: 500;
  font-size: 1.44rem;
  /* max-width: calc(100% - 108px); */
  max-width: calc(100% - 350px);
  padding: 21px 25px 27px 28px;
  border-radius: 18px;
  border: none;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("https://unread.today/img/btn-black.png");
}

.buttons i {
  font-size: 1.9rem;
  background-color: black;
  padding: 5px 10px;
  border-radius: 50%;
}

button h6 {
  color: #fff;
  font-weight: 400;
  opacity: 0.3;
  margin-bottom: 0.2rem;
  letter-spacing: 0.03rem;
}

.apps-link a img {
  width: 15%;
  height: auto;
  margin-right: 12px;
}

.text-container {
  max-width: 650px;
  margin: 0 0 0 auto;
  border: 1px solid yellow;
}

.footer-nav {
  margin-bottom: 4.6rem;
}

.footer-nav a {
  text-decoration: none;
  font-size: 1.44rem;
  font-weight: 500;
  color: #fff;
}

.footer-nav a::before {
  content: "•";
  font-size: 1rem;
  vertical-align: middle;
  color: white;
  margin: 0 10px 0 -22px;
}
