* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.intro {
  width: 100vw;
  height: 100vh;
  background-image: url("https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/0f9eacff441cfc4602498a98f5946f9f.jpg");
  background-size: cover;
}
