

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: normal 10px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fafafa;
  color: #1c1c1c;
}

body {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  letter-spacing: 0.015rem;
  color: #ffffff;
  background-color: #fafafa;
}

.intro {
  width: 100%;
  height: 65vh;
  background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/1c8032975647515c919c1e4b30138726.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.intro::after {
  content: "";
  inset: 0;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.5), black);
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1525px;
  height: 85px;
  padding: 24px 0 19px;
  margin: auto;
  z-index: 10;
}

menu {
  font-size: 2rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1116px;
  height: 42px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 18px;
}

.logo p {
  font-size: 20px;
  margin: 0 17px 0 30px;
  opacity: 0.3;
}

.search {
  display: flex;
}

.fa-magnifying-glass {
  font-size: 1.5rem;
  opacity: 0.7;
  margin: 8px 10px 0 0px;
}

.searchbox input {
  width: 250px;
  height: 30px;
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
  caret-color: white;
  font-size: 1.5rem;
}

input::placeholder {
  color: white;
  opacity: 0.7;
  font-size: 1.5rem;
  padding-left: 5px;
}

.next-article {
  display: flex;
  align-items: center;
  font-size: 12.6px;
}

.next-article .first {
  opacity: 0.7;
}

.next-article b {
  margin: 0 10px 0 5px;
}

.next-article .box {
  padding: 8px 18px;
  border-radius: 3rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.fa-circle {
  font-size: 5px;
}

.social-media i {
  font-size: 15px;
  opacity: 0.4;
  margin-left: 11px;
}

.fa-brands {
  cursor: pointer;
}

.highlight {
  width: 65%;
  margin: auto;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.image-box {
  width: 35%;
  height: auto;
  border-radius: 20px;
  margin-left: -90px;
  overflow: hidden;
}

.img-pic {
  width: 100%;
  height: 100%;
  background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/a53bcb8f28f3142b6cb1c051f645c2d7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.img-pic:hover {
  background-size: 180%;
}

.highlight .headline {
  padding: 4.5em 0 3em 6.1em;
}

.headline h6 {
  color: #0078f6;
  font-size: 14.4px;
  margin: 0 11px 15px 0;
}

@keyframes blink {
  0% {
    color: #0078f6;
  }
  50% {
    color: transparent;
  }
  100% {
    color: #0078f6;
  }
}

.headline h6,
.box i {
  animation-name: blink;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.highlight .headline .transparented {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.highlight .headline h1 {
  font-size: 3.6rem;
  line-height: 50px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.profile {
  display: flex;
  gap: 10px;
}

.highlight .headline .profile {
  margin-top: 5.4rem;
}

.profile img {
  width: 4rem;
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
}

.profile p {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #fff;
}

.profile p a {
  opacity: 0.5;
  font-weight: 700;
}

.recommended-articles {
  width: 100%;
  height: 250px;
  background-color: black;
}

.editors-choice {
  width: 100%;
  background-color: #000;
}
 .inside-box {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  left: 23%;
  padding-bottom: 2.8rem;
 }

.editors-choice p {
  font-size: 1.62rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.editors-choice button {
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 1.2rem 0 0 1.2rem;
  height: 27px;
  width: 25px;
  word-spacing: 8px;
  color: white;
  font-size: 2rem;
  opacity: 0.7;
}

.editors-choice .right-margin {
  border-radius: 0 1.2rem 1.2rem 0;
  margin-left: -2.5px;
}

.slider {
  position: relative;
  width: calc(100% - 50px);
  max-width: 1624px;
  margin: auto;
  margin-top: -248px;
}

.slider-container {
  padding-top: 2rem;
  padding-bottom: 9.7rem;
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  gap: 25px;
}

.slider-container .element {
  min-height: 425px;
  width: 20%;
  background-position: center;
  background-size: cover;
  border-radius: 0.9rem;
  font-size: 1.26rem;
  padding: 10px 10px 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.25);
}

.slider-container .element:hover {
  scale: 1.1;
  transition-duration: 0.5s;
}

.lead {
  display: flex;
  justify-content: space-between;
}

.lead,
.title {
  z-index: 10;
}

.dot::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  background-color: #0078f6;
  height: 6px;
  border-radius: 10px;
  width: 6px;
  margin-top: 0;
}

.view-number {
  display: flex;
  gap: 20px;
}

.view img {
  width: 21px;
}

.comment img {
  width: 15px;
}

.title h5 {
  font-size: 1.62rem;
  max-width: 227px;
  font-weight: 700;
  margin-top: 1.4rem;
  line-height: 2rem;
}

.category {
  display: inline-block;
  padding: 1px 11px 0px 11px;
  background-color: #0078f6;
  border-radius: 20px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 2.2rem;
  margin-top: 10px;
}

main,
.footer-container {
  width: 50%;
  margin: auto;
}

.this-week {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 44px;
}

article {
  max-width: 739px;
}

.article-2 {
  align-self: flex-end;
}

article .profile span {
  font-size: 1.26rem;
  font-weight: 600;
  color: #888888;
}

article .profile span a {
  color: black;
  padding-top: 3px;
  line-height: 1.7rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

.box-container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0 2.7rem 2.7rem 2.7rem;
  margin-top: 1.3em;
  padding: 2.8em 6.5em 2em 5.1em;
  transition: all 1s ease-in-out;
  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 0.3);
}

.box-container:hover {
  box-shadow: 0px 0px 50px 4px rgb(175, 175, 175, 0.8);
}

article:hover,
.grid-box:hover {
  translate: 0 -10px 0;
  transition-duration: 0.5s;
}

.right-side {
  border-radius: 2.7rem 0 2.7rem 2.7rem;
}

.box-container .headline {
  width: 75%;
}

.headline h6 {
  line-height: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
}

.box-container .headline h6::before {
  content: "•";
  font-size: 2.4rem;
  vertical-align: middle;
  color: #0078f6;
  margin: 0 10px 0 -22px;
}

.headline h3 {
  font-size: 2.16rem;
  line-height: 2.6rem;
  color: #1c1c1c;
  margin-bottom: 40px;
}

.article8 h3 {
  margin-bottom: 10px;
}

.box-container .photo {
  width: 135px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.article-2 {
  display: flex;
  flex-direction: column;
}

.article-2 .profile {
  display: flex;
  flex-direction: row-reverse;
  align-self: self-end;
}

.article-2 .profile span {
  text-align: right;
}

.previous-week {
  margin: 3.5rem 0;
  width: 100%;
}

.prevweek {
  width: 100%;
  margin-bottom: 3.7rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.date {
  text-align: center;
  border-bottom: 2px solid transparent;
  color: #888888;
  font-size: 1.35rem;
  width: 20%;
  padding: 2rem 12px;
}

.date-1 {
  padding: 2rem 12px 2rem 0;
  text-align: left;
  margin-left: -10px;
  border-bottom: 2px solid #0078f6;
  color: #0078f6;
}

.date-2 {
  margin-right: 10px;
}

.date-3 {
  margin-left: 10px;
}

.date-4 {
  padding: 2rem 0 2rem 12px;
  text-align: right;
}

.date:hover {
  border-bottom: 2px solid #0078f6;
  color: #0078f6;
}

.grid-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4);
  grid-template-rows: repeat(8);
  gap: 15px;
  margin-top: 5.6rem;
}

.grid-box {
  border-radius: 1.8rem;
  background-position: center;
  background-size: cover;
  position: relative;
}

.item1 {
  grid-column: 1/3;
  grid-row: 1/5;
  height: 360px;
}

.item2, .item3 {
  grid-row: 1/4;
  height: 280px;
}

.item4, .item5 {
  grid-row: 5/8;
  height: 240px;
}

.item6, .item7 {
  grid-row: 4/8;
  height: 320px;
}

.blur-box {
  position: absolute;
  bottom: 0;
  border-radius: 0 0 1.8rem 1.8rem;
  height: 105px;
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  padding: 16px 23px 10px 23px;
}

.article-category {
  font-weight: 400;
  opacity: 0.6;
  letter-spacing: 0.03rem;
  font-size: 1.26rem;
  line-height: 2.2rem;
}

.grid-box .blur-box h4 {
  font-weight: 700;
  font-size: 1.62rem;
  line-height: 2rem;
  margin: 0;
  margin-top: 3px;
  height: 4rem;
  overflow: hidden;
  padding-right: 10px;
}

.item1 .blur-box h4 {
  padding-right: 130px;
}

.minut {
  position: absolute;
  top: -10px;
  right: 17px;
  border: none;
  text-align: center;
  border-radius: 7px;
  z-index: 2;
  font-weight: 500;
  font-size: 1.26rem;
  padding: 4px 11px;
}

.hidden-grid {
  background-image: none;
}

.footer-top {
  z-index: 1;
  height: 8.2rem;
  position: relative;
  background-color: #fafafa;
  border-radius: 0 0 3.6rem 3.6rem;
}

footer {
  color: #fff;
  background-color: #000;
  margin-top: -5.5rem;
  padding: 13rem 0 7.5rem 0;
}

.large-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.logo-container a img {
  height: 18px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 4.9rem 0 5rem 0;
  max-width: calc(100% - 108px);
  max-width: 100%;
}

.buttons button:hover {
  margin-left: 8px;
  transition-duration: 0.5s;
}

.buttons button:hover i {
  background-color: rgb(0, 140, 255);
  box-shadow: 0 0 0 7.5px rgb(0, 140, 255, 0.2);
}

.buttons button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  text-align: left;
  font-weight: 500;
  font-size: 1.5rem;
  width: 70%;
  padding: 27px 28px;
  border-radius: 18px;
  border: none;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("https://unread.today/img/btn-black.png");
}

.buttons i {
  font-size: 1.9rem;
  background-color: black;
  padding: 5px 10px;
  border-radius: 50%;
}

button h6 {
  font-weight: 400;
  opacity: 0.3;
  margin-bottom: 0.2rem;
  letter-spacing: 0.03rem;
  font-size: 1.26rem;
}

.apps-link a img {
  width: 30%;
  height: auto;
  margin-right: 12px;
}

.text-container {
  width: 75%;
}

.footer-nav a {
  font-size: 1.44rem;
  font-weight: 500;
}

.footer-nav a:hover {
  opacity: 0.8;
}

.footer-nav .dotted::before {
  content: "•";
  font-size: 1rem;
  vertical-align: middle;
  color: white;
  margin: 0 10px 0 10px;
}

.text-container .copyright {
  line-height: 1.3rem;
  font-size: 1.08rem;
  max-width: 500px;
  opacity: 0.5;
  margin: 4.6rem 0;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.company h5 {
  color: #0078f6;
  letter-spacing: 0.03rem;
  font-size: 1.44rem;
  line-height: 2.4rem;
}

.company a,
.company p {
  color: #878787;
  font-size: 1.26rem;
  display: block;
  line-height: 2rem;
  margin-top: 9px;
  max-width: 160px;
}

.company a:hover {
  margin-left: 10px;
  color: white;
  transition-duration: 0.5s;
}

.social-links {
  display: flex;
  justify-content: space-between;
}

.social-links .fa-brands {
  font-size: 4rem;
  padding: 2rem 0;
  opacity: 0.2;
  color: #fff;
  padding-left: 35px;
}

.social-links .fa-square-facebook {
  padding-left: 0;
}

.fa-brands:hover,
.profile div p a:hover {
  opacity: 1;
  transition-duration: 0.5s;
}

.fa-square-facebook:hover {
  color: #475993;
}

.fa-instagram:hover {
  background: #f3fc00;
  background: linear-gradient(
    to top right,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-twitter:hover {
  color: #1da2f2;
}

.fa-linkedin-in:hover {
  color: #0077b5;
}

.fa-youtube:hover,
.fa-soundcloud:hover {
  color: rgb(254, 48, 48);
}

@media only screen and (max-width: 480px) {
  .intro {
    padding: 0 20px;
    width: 100%;
    height: 100%;
  }
  
  .fa-magnifying-glass {
    margin: 2px 10px 0 0px;
    opacity: 1;
  }
  
  .searchbox input, .next-article, .social-media, .image-box {
    display: none;
  }

  .highlight {
    width: 100%;
  }

  .highlight .headline {
    padding: 0 20px;
  }

  .highlight .headline h1 {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }

  .headline h6 {
    font-size: 1.2rem;
    line-height: 2.1rem;
  }

  .highlight .headline .profile {
    margin-top: 2rem;
  }

  .inside-box {
    width: 100%;
    padding: 5.4rem 2rem 2rem 2rem;
  }

  main, .footer-container {
    width: 100%;
    padding: 0 2rem;
  }

  .box-container {
    padding: 22px 33px;
  }

  .box-container .photo {
    width: 88px;
    height:88px;
  }

  .headline h3 {
    margin-bottom: 0px;
  }

  .headline h6 {
    line-height: 1rem;
  }

  .grid-container {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(8);
  }

  .grid-box {
    height: 250px;
  }

  .item1 {
    grid-column: 1/1;
    grid-row: 1/1;

  }
  
  .item2 {
    grid-row: 2/2;
  }

  .item3 {
    grid-row: 3/3;
  }
  
  .item4 {
    grid-row: 4/4;
  }

  .item5 {
    grid-row: 5/5;
  }
  
  .item6 {
    grid-row: 6/6;
  }

  .item7 {
    grid-row: 7/7;
  }

  .large-container {
    flex-direction: column;
    gap: 50px;
  }

  .buttons button {
    width: 90%;
  }

  .apps-link a img {
    width: 45%;
  }

  .text-container {
    width: 100%;
  }

  .footer-nav, .copyright {
    display: none;
  }

  .categories {
    flex-wrap: wrap;
    gap: 50px;
    padding: 0 14px;
  }

  .social-links .fa-brands {
    font-size: 3rem;
  }
}
